<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>58-99 - A propos</title>
    <link rel="icon" href="/static/logo.svg">
    <link rel="stylesheet" href="/static/style/footerapropos.css">
    <link rel="stylesheet" href="/static/style/footer.css">
    <link rel="stylesheet" href="/static/style/.layout.css">
</head>

<body>
    {{template "menu"}}
    <div id="content">
        <p id="blabla"> 
            Les 58-99 a été créée en mai 2022 par des mégas crack du développement<br>
            nommé l'élite d'Ynov school avec l’envie de fournir un forum senior <br>
            simple d'usage afin que tout les senior adepte ou non de la technologies<br>
            puisse échanger sur différent sujet comme par exemple le bricolage la politiques <br>
            et d'autres ce qui leurs permet de garder un contact et ne pas etre <br>
            exclu de l'ère informatique dans laquelle nous baignions. <br>
            Dans un univers où les seniors ont du mal avec Internet l'élite d'Ynov <br>
            ont mis leurs compétences et toute leur énergie à fournir un forum <br>
            fonctionnelle grâce aux compétences acquises toute l'année à travers <br>
            différent langages. Afin de ne faire plus qu'un dans cette société <br>
            les jeunes comme les séniors.
        </p>
        <div id="img">
            <img src="../static/style/img/vieux.jpg" >
        </div>
    </div>
    {{template "footer"}}
</body>

</html>