{{define "footer"}}
<footer class="site-footer">
  <div id="logo" style="color: white;">
    {{template "logo"}}
  </div>
  <div id="bigbtn">
    <ul class="footer-links" id="btn">
      <li><a id="btn" href="/Apropos">A Propos</a></li>
      <li><a id="btn" href="/Support">Support</a></li>
      <li><a id="btn" href="/Cgu">Conditions Générales</a></li>
      <li><a id="btn" href="/Equipe">Notre équipe</a></li>
    </ul>
  </div>
  </div>
  </div>
  <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p id="copiright" class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Ynov
        </p>
      </div>
    </div>
  </div>
</footer>

{{end}}